<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/group.css">
    <title>Group</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="header-bar"><%- include('topbar', {user: user}); %></div>
        <div class="body">
            <div class="body__main-page">
                <div class="main-page__intro-section">
                    <div class="intro-section__wallpaper">
                        <img class="group-wallpaper" src="<%= background %>" alt="group image">
                        <button class="change-group-wallpaper">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 471.04 471.04" style="enable-background:new 0 0 471.04 471.04;" xml:space="preserve"><g><g><path d="M414.72,112.64h-49.152l-27.136-40.96c-10.24-15.36-28.16-24.576-46.592-24.576H179.2 c-18.432,0-36.352,9.216-46.592,24.576l-27.136,40.96H56.32C25.088,112.64,0,137.728,0,168.96v198.656 c0,31.232,25.088,56.32,56.32,56.32h358.4c31.232,0,56.32-25.088,56.32-56.32V168.96C471.04,137.728,445.952,112.64,414.72,112.64 z M235.52,377.856c-70.144,0-126.976-56.832-126.976-126.976c0-70.144,56.832-126.464,126.976-126.464 s126.976,56.832,126.976,126.976C362.496,321.024,305.664,377.856,235.52,377.856z M407.552,192c-0.512,0-1.024,0-2.048,0h-20.48 c-9.216-0.512-16.384-8.192-15.872-17.408c0.512-8.704,7.168-15.36,15.872-15.872h20.48c9.216-0.512,16.896,6.656,17.408,15.872 C423.424,183.808,416.768,191.488,407.552,192z"/></g></g><g><g><path d="M235.52,180.736c-38.912,0-70.656,31.744-70.656,70.656s31.744,70.144,70.656,70.144s70.656-31.744,70.656-70.656 C306.176,211.968,274.432,180.736,235.52,180.736z"/></g></g></svg>
                            <div>Edit Cover Photo</div>
                        </button>
                    </div>
                    <div class="intro-section__title-wrapper">
                        <div class="title-wrapper__title"><%= groupName %></div>
                        <div class="title-wrapper__sub-info">
                            <img src="/images/icons/globe.png">
                            <div>Nhóm công khai</div>
                            <div class="sub-info__separator">.</div>
                            <div><%= numOfMembers %> thành viên</div>
                        </div>
                    </div>
                </div>
                <div class="main-page__content-section">
                    <div class="content-section__post-section">
                        <div class="post-section__post-creator">
                            <img src="<%= user.avatar %>" alt="user avatar" class="post-creator__avatar">
                            <div class="post-creator__content">Tạo bài viết công khai...</div>
                        </div>
                        <div class="post-section__post-lists">
                            <div class="post">Post here :></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-wrapper second-flow">
        <div class="modal-box">
            <div class="modal-box__title">Tạo bài viết</div>
            <img src="/images/icons/remove.png" class="modal-box__remove-icon">
            <div class="modal-box__creator-info">
                <img src="<%= user.avatar %>" class="creator-info__avatar">
                <div class="creator-info__name">Anonymous</div>
            </div>
            <form action="#" class="modal-box__form">
                <textarea name="post-content" class="form__text-input" placeholder="Bạn viết gì đi..."></textarea>
                <div class="form__image-creator"><img src="/images/icons/image.png"></div>
                <button type="button" class="form__submit-button form__submit-button--not-allowed">Đăng</button>
            </form>
        </div>
    </div>
    <script src="/js/group_handle_events.js"></script>
    <script src="/js/group_catch_events.js"></script>
</body>
</html>
