<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/group.css">
    <title>Group</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="header-bar"><%- include('topbar', {user: user}); %></div>
        <div class="body">
            <div class="body__main-page">
                <div class="main-page__intro-section">
                    <img class="intro-section__wallpaper" src="<%= background %>" alt="group image">
                    <div class="intro-section__title-wrapper">
                        <div class="title-wrapper__title"><%= groupName %></div>
                        <div class="title-wrapper__sub-info">
                            <img src="/images/icons/globe.png">
                            <div>Nhóm công khai</div>
                            <div class="sub-info__separator">.</div>
                            <div><%= numOfMembers %> thành viên</div>
                        </div>
                    </div>
                </div>
                <div class="main-page__content-section">
                    <div class="content-section__post-section">
                        <div class="post-section__post-creator">
                            <img src="<%= user.avatar %>" alt="" class="post-creator__avatar">
                            <div class="post-creator__content">Tạo bài viết công khai...</div>
                        </div>
                        <div class="post-section__post-lists">
                            <div class="post">Post here :></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-wrapper second-flow">
        <div class="modal-box">
            <div class="modal-box__title">Tạo bài viết</div>
            <img src="/images/icons/remove.png" class="modal-box__remove-icon">
            <div class="modal-box__creator-info">
                <img src="<%= user.avatar %>" class="creator-info__avatar">
                <div class="creator-info__name">Anonymous</div>
            </div>
            <form action="#" class="modal-box__form">
                <textarea name="post-content" class="form__text-input" placeholder="Bạn viết gì đi..."></textarea>
                <div class="form__image-creator"><img src="/images/icons/image.png"></div>
                <button type="button" class="form__submit-button form__submit-button--not-allowed">Đăng</button>
            </form>
        </div>
    </div>
    <script src="/js/group_handle_events.js"></script>
    <script src="/js/group_catch_events.js"></script>
</body>
</html>
