<% postList.forEach(post => { %>
    <div class="card-post" id="container">
        <div class="wrapper">
            <header>
                <div class="avatar">
                    <img src="<%= post.owner.avatar %>" alt="">
                </div>
                <div class="name">
                    <h1><%= post.owner.name %></h1>
                </div>
                <div class="threedots">
                    <i class="fa fa-ellipsis-h dropbtn" onclick="deleteStatus()"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="">Xóa</a>
                    </div>
                </div>
            </header>
            <div class="id_post" name="id_post" style="display: none;"><p id="idPost"><%= post._id %></p></div>
            <div class="content-text-post">
                <p><%= post.content %></p>
            </div>
            <div class="content-img-post">
                <img src="<%= post.img %>" alt="">
            </div>
            <div class="bar-post">
                <section class="numberlike">50 Lượt Thích</section>
                <hr>
                <div class="swap-like-cmt">
                    <section class="like-cmt-post like">
                        <i class="far fa-heart"></i>&nbsp;&nbsp;
                        <span>Thích</span>
                    </section>
                    &nbsp;
                    <section class="like-cmt-post cmt" data-swrap-cmt-id="<%= post._id %>" onclick="showDivCmt(this)">
                        <i class="far fa-comment"></i>&nbsp;&nbsp;
                        <span>Bình luận</span>
                    </section>
                </div>
            </div>
            <hr>
            <div class="comment" data-post-id="<%= post._id %>" style="display: none;">
                <div class="old-comment" data-old-cmt-id="<%= post._id %>"></div>
                <!-- Commented here-->
                <!-- Viết comment -->
                <div class="up-new-comment" data-new-cmt-id="<%= post._id %>"></div>
                <div class="more-comment" data-more-id="<%= post._id %>" style="display: none;">
                    <span style="cursor: pointer;">Xem thêm bình luận</span>
                </div>
                <div class="new-comment">
                    <div class="avatar">
                        <img src="<%= user.avatar %>" alt="">
                    </div>
                    <div class="wrap-new-cmt">
                        <!-- <form> -->
                        <div>
                            <!-- <input id="text-cmt" type="text" placeholder="Viết bình luận ..."> -->
                            <!-- <div class="edittext" contentEditable="true"></div> -->
                            <div class="wrap-comment_image-cmt">
                                <div id="wrap-textarea">
                                    <textarea name="cmt-content" data-id="<%= post._id %>" class="form__text-comment" placeholder="Viết bình luận ..."></textarea>
                                </div>
                                <div class="wrap_button_send">
                                    <button data-id="<%= post._id %>" onclick="getIdCmt(this)" style="cursor: pointer;">
                                        <img src="/images/send.png" alt=""></button>
                                </div>
                                <div class="media-cmt" style="cursor: pointer;"> 
                                    <input name="img-cmt" type="file" data-cmt-img-id="<%= post._id %>" onchange="preview_image_cmt(event, this)">
                                </div>
                            </div>
                            <div class="wrap-img-cmt">
                                <img name="output_image_cmt" data-preview-id="<%= post._id %>">
                            </div>
                        <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% })%>

